body, html {
    margin: 0;
    padding: 0;
}
body {
    font-family: system-ui, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 32px 16px 32px;
    font-size: 16px;
    line-height: 1.5
}
section {
    max-width: 864px
}
h1 {
    font-size: 64px;
    line-height: 1.25;
    margin: .5em 0 0
}
a {
    text-decoration: none;
    color: #0075ff;
    background: 0 100%/100% 1px repeat-x;
    background-image: linear-gradient(rgba(0, 117, 255, .13), rgba(0, 117, 255, .13))
}
a:hover {
    background-image: linear-gradient(rgba(0, 117, 255, 1), rgba(0, 117, 255, 1))
}
@media (min-width:40em) {
    body {
        font-size: 20px;
        padding: 64px 32px 64px
    }
    h1 {
        font-size: 48px
    }
}
@media (min-width:52em) {
    body {
        font-size: 24px;
        padding: 128px 64px 128px
    }
    h1 {
        font-size: 64px
    }
}